<!DOCTYPE html>
<html lang="en">
    
    <head>
        <meta charset="utf-8">
        <title>My Spotify Profile</title>
        <%- include('parts/boostraphead') %>
    </head>

    <body>
        <%- include('parts/header') %>
        <%- include('parts/caroussel') %>
        <%- include('parts/footer') %>
    </body>
    
</html>