<!DOCTYPE html>
<html lang="en">
    
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Spotilikes</title>
        <%- include('parts/boostraphead') %>
    </head>

    <body>
        <%- include('parts/header') %>
        
        <%- include('parts/reco_options') %>

        <%- include('parts/footer') %>

    </body>
    
</html>