<div class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <h3>Spotilikes</h3>
                <p>Spotilikes est un site qui permet de voir ses playlists, ses likes et ses tops tracks sur Spotify.</p>
            </div>
            <div class="col-md-4">
                <h3>Liens</h3>
                <ul>
                    <li><a href="/">Accueil</a></li>
                    <li><a href="/login">Connexion</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
