<div class="container-fluid info-footer">
    <ul class="nav nav-underline">
        <li class="nav-item">
            <button class="nav-link active" id="my-playlist" data-bs-toggle="pill" data-bs-target="#my-pills-playlists" type="button" role="tab" aria-controls="my-pills-playlists" aria-selected="true">Playlists</button>
        </li>
        <li class="nav-item">
            <button class="nav-link" id="my-likes" data-bs-toggle="pill" data-bs-target="#my-pills-likes" type="button" role="tab" aria-controls="my-pills-likes" aria-selected="false">Likes</button>
        </li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane fade show active" id="my-pills-playlists" role="tabpanel" aria-labelledby="my-pills-playlists" tabindex="0">...</div>
        <div class="tab-pane fade" id="my-pills-likes" role="tabpanel" aria-labelledby="my-pills-likes" tabindex="0">...</div>
    
    </div>
</div>