#caroussel a {
    text-decoration: none;
    color: #fff;
}

.flip {
    width: 100%;
-webkit-perspective: 800;   
    perspective: 800;
    text-align: center;
}

.flip .card.flipped {
    -webkit-transform: rotatey(-180deg);
            transform: rotatey(-180deg);
}

.flip .card {
    border-radius: 4px;
    color: #fff;
    background-color: #000;
    width: 100%;
    display: flex;
    -webkit-transform-style: preserve-3d;
    -webkit-transition: 0.5s;
    transform-style: preserve-3d;
    transition: 0.5s;
}

.flip .card .face {
    width: 100%;
-webkit-backface-visibility: hidden ;
    backface-visibility: hidden ;
    z-index: 2;
}

.flip .card .front {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    flex: 1;
}

.flip .card .back {
    -webkit-transform: rotatey(-180deg);
            transform: rotatey(-180deg);
    position: absolute;
    top: 0;
    left: 0;
    flex: 1;
}

/*
.flip {
-webkit-perspective: 800;   
        perspective: 800;
        position: relative;
        text-align: center;
}
.flip .card.flipped {
-webkit-transform: rotatey(-180deg);
        transform: rotatey(-180deg);
}
.flip .card {
    border-radius: 4px;
    color: #fff;
    background-color: #000;
    width: 100%;
    height: 178px;
    -webkit-transform-style: preserve-3d;
    -webkit-transition: 0.5s;
    transform-style: preserve-3d;
    transition: 0.5s;
    
}
.flip .card .face {
-webkit-backface-visibility: hidden ;
    backface-visibility: hidden ;
    z-index: 2;
}
.flip .card .front {
    position: absolute;
    width: 100%;
    z-index: 1;
}
.flip .card .front img{
    width: 100%;
    height: 100%;
}
.flip .card .img {
    position: relaitve;
    width: 100%;
    height: 178px;
    z-index: 1;
    border: 2px solid #000;
}
.flip .card .back {
    padding-top: 10%;
    -webkit-transform: rotatey(-180deg);
            transform: rotatey(-180deg);
    position: absolute;
}
.inner{
    margin:0px !important;
    width: 100%;
} */