#playlists {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding-top: 15px;
}

#tracks {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding-top: 15px;
}

.track iframe {
    width: 100%;
}

@media (max-width: 767px) {

    .playlist {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding-bottom: 5%;
    }
    
    .track {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding-bottom: 5%;
    }
}

@media (min-width: 768px) {

    .playlist {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 19%;
        padding-left: .5%;
        padding-right: .5%;
        padding-bottom: .5%;
    }

    .track {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 19%;
        padding-left: .5%;
        padding-right: .5%;
        padding-bottom: .5%;
    }
}